/* Global */

* {
  text-align: center;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 50px;
  background-color: #282828;
  color: white;
}

@font-face {
  font-family: 'GothamBold';
  src: url('./GothamBold.otf');
}

h1 {
  font-size: 3rem;
  font-family: 'GothamBold';
  color: crimson;
}

small {
  visibility: hidden;
  position: fixed;
}

@media (max-width: 1250px) {
  h1 {
    font-size: 2.4rem;
  }
  small {
    visibility: visible;
    position: static;
  }
}

a {
  text-decoration: none;
  color: lightgrey;
  transition: 0.2s;
}

a:hover {
  color: lightslategrey;
}

/* Top */

.youtubeLink {
  color: lightslategrey;
}

.youtubeLink:hover {
  color: grey;
}

.channelIdInput {
  height: 2rem;
  width: 250px;
}

@media (max-width: 1250px) {
  .channelIdInput {
    margin-top: 20px;
  }
}

.submit {
  height: 2rem;
  padding: 0 20px;
}

/* Loading */

.loading {
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Channels */

.channels {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* Channel */

.channel {
  width: 300px;
  padding: 20px 50px;
}

.thumbnail {
  border-radius: 50%;
  width: 150px;
}
